.body {
    margin: 0;
    padding: 0;
    box-sizing: none;
    background-image: url("background.png");
    height: 100%;
}

.allText {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.welcome h1 {
    font-size: 300%;
    padding: 2rem 3rem;
    color: #FFFFFF;
    
}