@font-face {
    font-family: 'HelpMe';
    src: url("../HelpMe.ttf") format('truetype');
  }

.body {
    margin: 0;
    padding: 0;
    box-sizing: none;
    background: url("../assets/background2.png");
    height: 100vh;
    font-family: 'HelpMe';
    
}

.image {
    width: 250px;
    height: 250px;
}

.allText {
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 100px;
}

.welcome h1 {
    font-size: 300%;
    padding: 2rem 3rem;
    color: #FFFFFF;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
    
}


.allText .logreg button a {
    text-decoration: none;
    color: #111;
    padding: 3px 4px;
}