.kafelek {
    background-color: #fefefe;
    border:3px solid transparent;
    border-radius: 8px;
    height: 300px;
    width: 200px;
    color: transparent;
    padding: 3px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 4px 0.4em rgba(0, 0, 0, 0.4);
    transition: border 0.25 ease;
}
.kafelek .offerTitle {
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

.kafelek .userId {
    margin: 1px;
    padding: 1px 2px;
    opacity: 50%;
    font-size: small;
    text-align: center;
}

.kafelek:hover {
    border: 3px solid #761069;
    transition: border 0.25 ease;
}

.kafelek img {
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
}