form {
    width: 700px;
    height: 600px;
    background-color: rgb(181, 205, 226);
    border: 1px solid transparent;
    border-radius: 4px;
}

label{
    padding: 1.5rem 1.3rem;
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}
